﻿
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AboutUsModel

<h1>Hakkımızda</h1>

<section class="py-5 header">
    <div class="container py-4">

        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    @{
                        int count = 0;
                        @foreach (var item in Model.AboutUss)
                        {
                            string active = count == 0 ? "active" : "";

                            <a class="nav-link mb-3 p-3 shadow @active" id="v-@item.Id-tab" data-toggle="pill" href="#v-@item.Id" role="tab" aria-controls="v-@item.Id" aria-selected="@(count == 0 ? "true" : "false")">
                                <i class="@item.Icon"></i>
                                <span class="font-weight-bold small text-uppercase">@item.Title</span>
                            </a>
                            count++;
                        }
                    }


                </div>
            </div>


            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    @{
                        int count1 = 0;
                        @foreach (var item in Model.AboutUss)
                        {
                            string active = count1 == 0 ? "active" : "";
                            <div class="tab-pane fade shadow rounded bg-white show @active p-5" id="v-@item.Id" role="tabpanel" aria-labelledby="v-@item.Id-tab">
                                <h4 class="font-italic mb-4">@item.Title</h4>
                                <p class="font-italic text-muted mb-2">@item.Paragraph</p>
                            </div>
                            count1++;
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>