﻿
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ContactInfoModel

<!-- Section heading -->
<h1>Bize Ulaşın</h1>
<!-- Section: Contact v.1 -->
<section class="py-5 header">

    <!-- Section description -->
    @if (!string.IsNullOrWhiteSpace(Model.ContactInfo.Explanation))
    {
        <p class="text-center w-responsive mx-auto pb-5">
            @Model.ContactInfo.Explanation
        </p>
    }

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-4">

            <!-- Form with header -->
            <!-- Card -->
            <div class="card">

                <!-- Card content -->
                <div class="card-body">

                    <div class="col">
                        <a class="btn-floating blue accent-1">
                            <i class="fas1 fas fa-map-marker-alt"></i>
                        </a>
                        <p>@Model.ContactInfo.Address</p>
                        @*<p class="mb-md-0">United States</p>*@
                    </div>
                    </br>
                    <div class="col">
                        <a class="btn-floating blue accent-1">
                            <i class="fas1 fas fa-phone"></i>
                        </a>
                        <p>@Model.ContactInfo.Phone</p>
                        <p class="mb-md-0">@Model.ContactInfo.Phone2</p>
                    </div>
                    </br>
                    <div class="col">
                        <a class="btn-floating blue accent-1">
                            <i class="fas1 fas fa-envelope"></i>
                        </a>
                        <p class="mb-0">@Model.ContactInfo.Email</p>
                    </div>
                    </br>
                </div>

            </div>
            <!-- Card -->
            <!-- Form with header -->

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-7">

            <!--Google map-->
            <div id="map-container-section" class="z-depth-1-half map-container-section">
                <iframe src="@Model.ContactInfo.GoogleMap" frameborder="0"
                        style="border:0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            @*<div class="row text-center">
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                        <p>@Model.ContactInfo.Address</p>
                    </div>
                </div>*@

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->
