﻿
@{
    ViewData["Title"] = "Menu";
    Layout = null;
}
@model MenuModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Vaha Düğün Salonu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sliderCard.css" />

    <link rel="icon" href="~/img/icon.ico">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <script src="https://kit.fontawesome.com/ab87a90b8f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <partial name="_navbar" />
    </header>
    <div class="carousel-wrapper1">
        <div class="carousel1" data-flickity>
            @foreach (var item in Model.Menus)
            {
                <div class="carousel-cell1">
                    <img class="imgMenu" src="~/img/@item.Image" />
                    <h3>@item.Title</h3>
                    <a class="more" href="" data-toggle="modal" data-target="#Modal@(item.Id)">Detay için Tıklayınız</a>
                </div>
            }
        </div>
    </div>

    @foreach (var item in Model.Menus)
    {
        <!-- Modal -->
        <div class="modal fade" id="Modal@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle@(item.Id)" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle@(item.Id)">@item.Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(item.Paragraph)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <partial name="_footer" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
