﻿@model ReservationModel
@{
    ViewData["Title"] = "Reservasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Rezervasyon</h1>

<form asp-action="Reservation" onsubmit="return submitUserForm();">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-6">
            <label class="control-label">İstenilen Rezarvasyon Tarihi</label>
            <input asp-for="@Model.Date" class="form-control" />
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Ad Soyad</label>
            <input asp-for="@Model.Fullname" class="form-control" />
            <span asp-validation-for="@Model.Fullname" class="text-danger"></span>
        </div>

        <div class="col-sm-6">
            <label class="control-label">Tahmini Davetli Sayısı</label>
            <input asp-for="@Model.GuestNumber" class="form-control" />
            <span asp-validation-for="@Model.GuestNumber" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Telefon</label>
            <input asp-for="@Model.Phone" class="form-control" />
            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
        </div>

        <div class="col-sm-6">
            <label class="control-label">Organizasyon Tipi</label>
            <select asp-for="@Model.OrganizationType" class="form-control">
                <option value="Düğün">Düğün</option>
                <option value="Kına">Kına</option>
                <option value="Nişan">Nişan</option>
                <option value="Sünet">Sünet</option>
                <option value="Toplantı">Toplantı</option>
            </select>
            <span asp-validation-for="@Model.OrganizationType" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Not</label>
            <textarea class="form-control" asp-for="@Model.Not" value="@Model.Not"></textarea>
            <span asp-validation-for="@Model.Not" class="text-danger"></span>
        </div>

        <div class="col-sm-6">
            <label class="control-label">E-Posta</label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <br />
        @*Captcha*@
        <div class="col-sm-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <img id="img-captcha" src="~/captcha-image" />
                </div>
                <input type="text"
                       asp-for="CaptchaCode"
                       class="form-control"
                       placeholder="Captcha Code"
                       autocomplete="off"
                       minlength="4"
                       maxlength="4" />
            </div>
            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
        </div>

        <div class="col-sm-2" style="top: 30px;">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>

    </div>
</form>

@*Captcha*@
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
