﻿
@{
    ViewData["Title"] = "Salonlarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SalonModel
<link href="~/css/nicepage.css" rel="stylesheet" />
<link href="~/css/salonGallery.css" rel="stylesheet" />
@*<script src="~/js/jquery.js"></script>
    <script src="~/js/nicepage.js"></script>*@
<h1>Mekanlarımız</h1>

<section class="py-5 header">
    <div class="container py-4">

        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    @{
                        int count = 0;
                        @foreach (var item in Model.Salons)
                        {
                            string active = count == 0 ? "active" : "";

                            <a class="nav-link mb-3 p-3 shadow @active" id="v-@item.Id-tab" onclick="myFunction(@(item.Id))" data-toggle="pill" href="#v-@item.Id" role="tab" aria-controls="v-@item.Id" aria-selected="@(count == 0 ? "true" : "false")">
                                <i class="@item.Icon"></i>
                                <span class="font-weight-bold small text-uppercase">@item.Title</span>
                            </a>
                            count++;
                        }
                    }


                </div>
            </div>


            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    @{
                        int count1 = 0;
                        @foreach (var item in Model.Salons)
                        {
                            string active = count1 == 0 ? "active" : "";
                            <div class="tab-pane fade shadow rounded bg-white show @active p-5" id="v-@item.Id" role="tabpanel" aria-labelledby="v-@item.Id-tab">
                                <h4 class="font-italic mb-4">@item.Title</h4>
                                <p class="font-italic text-muted mb-2">@item.Paragraph</p>
                            </div>
                            count1++;
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>
@{
    @foreach (var item in Model.Salons)
    {
        <section class="u-align-center u-clearfix u-section-1" id="gallery@(item.Id)" data-toggle="modal" data-target="#exampleModal@(item.Id)">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    @{
                        int count4 = 0;
                        foreach (var subItem in Model.SalonImages.Where(s => s.SalonId == item.Id).ToList())
                        {
                            <div class="u-effect-fade u-gallery-item">
                                <div class="u-back-slide">
                                    <img class="u-back-image u-expanded" src="~/img/@subItem.Image" data-target="#carouselExample@(item.Id)" data-slide-to="@count4">
                                </div>
                            </div>
                            count4++;
                        }
                    }

                </div>
            </div>
        </div>
        </section>


        <!-- Modal markup: https://getbootstrap.com/docs/4.4/components/modal/ -->
        <div class="modal fade" id="exampleModal@(item.Id)" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
                        <div id="carouselExample@(item.Id)" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @{
                                    int count2 = 0;
                                    foreach (var subItem in Model.SalonImages.Where(s => s.SalonId == item.Id).ToList())
                                    {
                                        string active = count2 == 0 ? "active" : "";
                                        <div class="carousel-item @active">
                                            <img class="d-block w-100" src="~/img/@subItem.Image">
                                        </div>
                                        count2++;
                                    }
                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselExample@(item.Id)" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample@(item.Id)" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts{

    <script type="text/javascript">

            function myFunction(id) {
                @foreach (var item in Model.Salons)
                {
                    @Html.Raw("$('#gallery"+ @item.Id+ "').hide();");
                }
                $('#gallery'+id).show();
            }

    </script>
}
