﻿<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Vaha Park Düğün & Davet -
        <a asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/vahapark"><i class="fab fa-facebook-square fa-w-14 fa-2x"></i></a>&nbsp;
        <a href="https://www.instagram.com/vahapark/?hl=tr"><img width="30" src="~/img/instagram.png" style="padding-bottom: 15px;" /></a>
    </div>
</footer>
