﻿<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img width="90" src="~/img/logo.jpg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="Salon">Mekanlarımız</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="Servis">Hizmetlerimiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="Menu">Menulerimiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="Reservation">Rezervasyon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
