﻿<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img width="90" src="~/img/logo.jpg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            @if (User.Identity.IsAuthenticated)
            {
            <ul class="navbar-nav ml-auto navAdminButton">
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark vaha">@User.Identity.Name</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="UserList">Users</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="LogOut">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="Gallery">Galeri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="AboutUs">Hakkımızda</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mekanlarımız
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="Salon">Mekanlar</a>
                        <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="SalonImage">Mekan Resimleri</a>
                    </div>
                    
                </li>



                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="Service">Hizmetlerimiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="Menu">Menülerimiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="Contact">İletişim</a>
                </li>
            </ul>
            }
            @*else
        {
            <li class="nav-item">
                <a class="nav-link text-dark vaha" asp-area="" asp-controller="Admin" asp-action="LogIn">LogIn</a>
            </li>
        }*@
        </div>
    </div>
</nav>
