﻿@model GalleryModel

<div class="text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                int count = 0;
                foreach (var item in Model.Galleries)
                {
                    string active = count == 0 ? "active" : "";
                    <li data-target="#carouselExampleIndicators" data-slide-to="@count" class="@active">
                        @*<img width="100" class="d-block w-100" src="~/img/@item.ImageName" alt="@item.Alt" style="border-radius: 100px;">*@
                    </li>
                    count++;
                }
            }
        </ol>
        <div class="carousel-inner">
            @{
                int count1 = 0;
                foreach (var item in Model.Galleries)
                {
                    string active = count1 == 0 ? "active" : "";
                    <div class="carousel-item @active">
                        <img class="d-block w-100" src="~/img/@item.ImageName" alt="@item.Alt">
                        @if (!string.IsNullOrWhiteSpace(item.Title) || !string.IsNullOrWhiteSpace(item.Paragraph))
                        {
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.Title</h5>
                                <p>@item.Paragraph</p>
                            </div>
                        }
                    </div>
                    count1++;
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
