﻿@model AboutUsModel

@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Hakkımızda</h1>

<p>
    <a asp-action="AboutUsCreate">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Simge</th>
            <th>Başlık</th>
            <th>Durum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AboutUss) {
        <tr>
            <td>
                @item.Icon
            </td>
            <td>
                @item.Title
            </td>
            <td>
                <b style="color:blue">@(item.IsEnable? "Aktif":"Aktif değil")</b>
            </td>
            <td>
                @Html.ActionLink("Düzenle", "AboutUsEdit", new { id = item.Id }) |
                @Html.ActionLink("Detay", "AboutUsDetails", new { id = item.Id }) |
                @Html.ActionLink("Sil", "AboutUsDelete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
