﻿@model VahaDugunSalonu.Models.AboutUsModel

@{
    ViewData["Title"] = "AboutUs Oluştur";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Yeni Başlık oluştur "hakkımızda" için</h1>
<hr />
<form asp-action="AboutUsCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <div class="col-sm-2 col-form-label">
                Başlık:
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="@Model.SelectedAboutUs.Title" value="@Model.SelectedAboutUs.Title" />
                <span asp-validation-for="@Model.SelectedAboutUs.Title" class="text-danger"></span>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="col-sm-2 col-form-label">
                İkon:
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="@Model.SelectedAboutUs.Icon" value="@Model.SelectedAboutUs.Icon" />
                <span asp-validation-for="@Model.SelectedAboutUs.Icon" class="text-danger"></span>
            </div>
        </div>

        <div class="input-group mb-5">
            <div class="col-sm-2 col-form-label">
                Açıklama:
            </div>
            <div class="col-sm-10">
                <textarea class="form-control" asp-for="@Model.SelectedAboutUs.Paragraph" value="@Model.SelectedAboutUs.Paragraph"></textarea>
                <span asp-validation-for="@Model.SelectedAboutUs.Paragraph" class="text-danger"></span>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="col-sm-2 col-form-label">
                Durum:
            </div>
            <div class="col-sm-10 form-check fadeIn">
                <input class="form-check-input" type="checkbox" asp-for="@Model.SelectedAboutUs.IsEnable"/>
            </div>
        </div>
    </div>
</div>

    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="AboutUs">Listeye Geri dön</a>
</div>

