﻿@model AboutUsModel
@{
    ViewData["Title"] = "AboutUsDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Hakkımızda Detay</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-1">
            Başlık :
        </div>
        <div class="col-sm-11">
            @Model.SelectedAboutUs.Title
        </div>

        <div class="col-sm-1">
            İkon :
        </div>
        <div class="col-sm-11">
            <i class="@Model.SelectedAboutUs.Icon"></i>
            @Model.SelectedAboutUs.Icon
        </div>

        <div class="col-sm-1">
            Açıklama :
        </div>
        <div class="col-sm-11">
            @Model.SelectedAboutUs.Paragraph
        </div>

        <div class="col-sm-1">
            Durum :
        </div>
        <div class="col-sm-11">
            @(Model.SelectedAboutUs.IsEnable? "Aktif" : "Aktif değil")
        </div>
    </div>
</div>
<div>
    <a asp-action="AboutUsEdit" asp-route-id="@Model.SelectedAboutUs.Id">Düzenle</a> |
    <a asp-action="AboutUs">Listeye Geri dön</a>
</div>