﻿@model ContactInfoModel

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>İletişim</h1>

<hr />
<form asp-action="Contact">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input class="form-control" type="hidden" asp-for="@Model.ContactInfo.Id" />
        <div class="col-sm-6">
            <label class="control-label">Açıklama</label>
            <input asp-for="@Model.ContactInfo.Explanation" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.Explanation" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Telefon</label>
            <input asp-for="@Model.ContactInfo.Phone" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.Phone" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Alternatif Telefon</label>
            <input asp-for="@Model.ContactInfo.Phone2" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.Phone2" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Adres</label>
            <input asp-for="@Model.ContactInfo.Address" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.Address" class="text-danger"></span>
        </div>

        <div class="col-sm-6">
            <label class="control-label">GoogleMap</label>
            <input asp-for="@Model.ContactInfo.GoogleMap" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.GoogleMap" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Çalışma Saatleri</label>
            <input asp-for="@Model.ContactInfo.WorkTime" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.WorkTime" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="control-label">E-Posta</label>
            <input asp-for="@Model.ContactInfo.Email" class="form-control" />
            <span asp-validation-for="@Model.ContactInfo.Email" class="text-danger"></span>
        </div>
        <br />
        <div class="col-sm-6"style="top: 30px;">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>

    </div>
</form>


