﻿@model GalleryModel

@{
    ViewData["Title"] = "GalleryDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Resim Detay</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Resim:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedGallery.ImageName)
            <img src="~/img/@Model.SelectedGallery.ImageName" width="100" />
        </dd>
        <dt class = "col-sm-2">
            Alt Açıklama:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedGallery.Alt)
        </dd>
        <dt class = "col-sm-2">
            Başlık:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedGallery.Title)
        </dd>
        <dt class = "col-sm-2">
            Metin:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedGallery.Paragraph)
        </dd>
        <dt class = "col-sm-2">
            Durum:
        </dt>
        <dd class = "col-sm-10">
            @(Model.SelectedGallery.IsEnable? "Aktif" : "Aktif Değil")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GalleryEdit" asp-route-id="@Model.SelectedGallery.Id">Düzenle</a> |
    <a asp-action="Gallery">Listeye Geri dön</a>
</div>
