﻿@model GalleryModel

@{
    ViewData["Title"] = "GalleryEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Resim Güncelleme</h1>

<hr />

<form asp-action="GalleryEdit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.SelectedGallery.Id" />
    <div class="row">
        <div class="col-md-4">

            @*Resim Ekleme*@
            <div class="form-group">
                <label asp-for="@Model.SelectedGallery.ImageName" class="control-label">Resim</label>
                <input type="hidden" asp-for="@Model.SelectedGallery.ImageName" class="form-control" value="@Model.SelectedGallery.ImageName"/>
                <img src="~/img/@Model.SelectedGallery.ImageName" width="100" />
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="@Model.SelectedGallery.ImageName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SelectedGallery.Alt" class="control-label">Alt Açıklama</label>
                <input asp-for="@Model.SelectedGallery.Alt" class="form-control" />
                <span asp-validation-for="@Model.SelectedGallery.Alt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SelectedGallery.Title" class="control-label">Başlık</label>
                <input asp-for="@Model.SelectedGallery.Title" class="form-control" />
                <span asp-validation-for="@Model.SelectedGallery.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.SelectedGallery.Paragraph" class="control-label">Metin</label>
                <textarea asp-for="@Model.SelectedGallery.Paragraph" class="form-control" value="@Model.SelectedGallery.Paragraph"></textarea>
                <span asp-validation-for="@Model.SelectedGallery.Paragraph" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.SelectedGallery.IsEnable" />
                    Durum
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Gallery">Listeye Geri dön</a>
</div>

