﻿@model GalleryModel

@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Galeri</h1>

<p>
    <a asp-action="GalleryCreate">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Resim
            </th>
            <th>
                Başlık
            </th>
            <th>
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Galleries) {
        <tr>
            <td>
                <img src="~/img/@item.ImageName" width="60"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <b style="color:blue;">@(item.IsEnable? "Aktif" : "Aktif Değil")</b>
            </td>
            <td>
                <a asp-action="GalleryEdit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="GalleryDetails" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="GalleryDelete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
