﻿@model LoginModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-user"></i>
        </div>

        <!-- Login Form -->
        <form asp-controller="Admin" asp-action="LogIn" method="post" asp-route-returnurl="@Model.ReturnUrl" onsubmit="return submitUserForm();">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text" id="login" class="fadeIn second" asp-for="UserName" value="@Model.UserName" placeholder="login">
            <input type="text" id="password" class="fadeIn third" asp-for="Password" value="@Model.Password" placeholder="password">
            <div class="form-check">
                <input type="checkbox" value="true" asp-for="IsPersistent">
                <label class="form-check-label" asp-for="IsPersistent">
                    Hatırla
                </label>
            </div>
            @*<input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />*@
            <div class="input-group">
                @*Captcha*@
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <img id="img-captcha" src="~/captcha-image" />
                        </div>
                        <input type="text"
                               asp-for="CaptchaCode"
                               class="form-control"
                               placeholder="Captcha Code"
                               autocomplete="off"
                               minlength="4"
                               maxlength="4" />
                    </div>
                    <span asp-validation-for="CaptchaCode" class="text-danger"></span>

                    <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/admin/ForgotPassword">Forgot Password?</a>
        </div>

    </div>
</div>

