﻿@model MenuModel

@{
    ViewData["Title"] = "MenuDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Menü Detay</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Resim:
        </dt>
        <dd class = "col-sm-10">
            <img src="~/img/@Model.SelectedMenu.Image" width="100" />
            @Html.DisplayFor(model => model.SelectedMenu.Image)
        </dd>
        <dt class = "col-sm-2">
            Başlık:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedMenu.Title)
        </dd>
        <dt class = "col-sm-2">
            Metin:
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.SelectedMenu.Paragraph)
        </dd>
        <dt class = "col-sm-2">
            Durum:
        </dt>
        <dd class = "col-sm-10">
            @(Model.SelectedMenu.IsEnable? "Aktif" : "Aktif Değil")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MenuEdit" asp-route-id="@Model.SelectedMenu.Id">Düzenle</a> |
    <a asp-action="Menu">Listeye Geri dön</a>
</div>
