﻿@model MenuModel

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Menü</h1>

<p>
    <a asp-action="MenuCreate">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Resim
            </th>
            <th>
                Başlık
            </th>
            <th>
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Menus)
        {
            <tr>
                <td>
                    <img src="~/img/@item.Image" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <b style="color:blue">@(item.IsEnable? "Aktif" : "Aktif Değil")</b>
                </td>
                <td>
                    <a asp-action="MenuEdit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="MenuDetails" asp-route-id="@item.Id">Detay</a> |
                    <a asp-action="MenuDelete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
