﻿@model MenuModel

@{
    ViewData["Title"] = "MenuCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<link href="~/ckeditor/contents.css" rel="stylesheet" />

<h1>Menü Oluştur</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="MenuCreate" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Resim: </label>
                <input type="hidden" asp-for="@Model.SelectedMenu.Image" value="@Model.SelectedMenu.Image" />
                @*<img src="~/img/@Model.SelectedMenu.Image" width="100"/>*@
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="@Model.SelectedMenu.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Başlık: </label>
                <input asp-for="@Model.SelectedMenu.Title" class="form-control" />
                <span asp-validation-for="@Model.SelectedMenu.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Metin: </label>
                <textarea id="editor" asp-for="@Model.SelectedMenu.Paragraph" class="form-control" placeholder="Menü girin"></textarea>
                <span asp-validation-for="@Model.SelectedMenu.Paragraph" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.SelectedMenu.IsEnable" />
                    Durum
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
            <div class="form-group"style="margin-bottom: 50px;">
                <a asp-action="Menu">Listeye Geri dön</a>
            </div>
        </form>
    </div>
</div>


<script>
    CKEDITOR.replace('editor', {
        height:220
    });
</script>

