﻿@model MenuModel

@{
    ViewData["Title"] = "MenuEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/ckeditor/contents.css" rel="stylesheet" />
<script src="~/ckeditor/ckeditor.js"></script>

<h1>Menü Düzenleme</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="MenuEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.SelectedMenu.Id" />

            <div class="form-group">
                <label asp-for="@Model.SelectedMenu.Image" class="control-label">Resim:</label>
                <input type="hidden" asp-for="@Model.SelectedMenu.Image" value="@Model.SelectedMenu.Image" />
                <img src="~/img/@Model.SelectedMenu.Image" width="100" />
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="@Model.SelectedMenu.Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SelectedMenu.Title" class="control-label">Başlık:</label>
                <input asp-for="@Model.SelectedMenu.Title" class="form-control" />
                <span asp-validation-for="@Model.SelectedMenu.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SelectedMenu.Paragraph" class="control-label">Metin:</label>
                <textarea id="editor" asp-for="@Model.SelectedMenu.Paragraph" class="form-control" placeholder="Menü girin"></textarea>
                <span asp-validation-for="@Model.SelectedMenu.Paragraph" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.SelectedMenu.IsEnable" /> Durum
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-bottom: 50px;">
    <a asp-action="Index">Back to List</a>
</div>


<script>
    CKEDITOR.replace('editor', {
        height: 220
    });
</script>