﻿@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>ResetPassword</h1>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-user"></i>
        </div>

        <!-- Login Form -->
        <form asp-controller="Admin" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" id="token" name="token" value="@Model.Token" />
            <input type="text" id="login" class="fadeIn second" asp-for="Email" value="@Model.Email" placeholder="Email">
            <input type="text" id="password" class="fadeIn third" asp-for="Password" value="@Model.Password" placeholder="Password">
            <input type="text" id="repassword" class="fadeIn fourth" asp-for="RePassword" value="@Model.RePassword" placeholder="Repassword">

            @*<input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />*@
            <input type="submit" class="fadeIn fourth" value="Reset Password">
        </form>

    </div>
</div>