﻿@model SalonModel

@{
    ViewData["Title"] = "SalonImageEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SalonImageEdit</h1>

<h4>SalonImage</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="SalonImageEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.SelectedSalonImage.Id" />

            @*Resim Ekleme*@
            <div class="form-group">
                <label asp-for="@Model.SelectedSalonImage.Image" class="control-label">Resim</label>
                <input type="hidden" asp-for="@Model.SelectedSalonImage.Image" class="form-control" value="@Model.SelectedSalonImage.Image" />
                <img src="~/img/@Model.SelectedSalonImage.Image" width="100" />
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="@Model.SelectedSalonImage.Image" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="@Model.SelectedSalonImage.SalonId" class="control-label">Mekan:</label>
                <select asp-for="@Model.SelectedSalonImage.SalonId" class="form-control">
                    @foreach (var item in Model.Salons)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>

                @*<input asp-for="SalonId" class="form-control" />
                <span asp-validation-for="SalonId" class="text-danger"></span>*@
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.SelectedSalonImage.IsEnable" /> Durum
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SalonImage">Listeye Geri Dön</a>
</div>

