﻿@model VahaDugunSalonu.Models.SalonModel
@{
    ViewData["Title"] = "Salon Güncelleme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Hakkımızda Güncelleme</h1>

<hr />
<form asp-action="SalonEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">


        <div class="container">
            <div class="row">
                <div class="input-group mb-3">
                    <div class="col-sm-2 col-form-label">
                        Başlık:
                    </div>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="@Model.SelectedSalon.Id" value="@Model.SelectedSalon.Id" />
                        <input type="text" class="form-control" asp-for="@Model.SelectedSalon.Title" value="@Model.SelectedSalon.Title" />
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="col-sm-2 col-form-label">
                        İkon:
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="@Model.SelectedSalon.Icon" value="@Model.SelectedSalon.Icon" />
                    </div>
                </div>

                <div class="input-group mb-5">
                    <div class="col-sm-2 col-form-label">
                        Açıklama:
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" asp-for="@Model.SelectedSalon.Paragraph" value="@Model.SelectedSalon.Paragraph"></textarea>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="col-sm-2 col-form-label">
                        Durum:
                    </div>
                    <div class="col-sm-10 form-check fadeIn">
                        <input type="checkbox" asp-for="@Model.SelectedSalon.IsEnable"/>
                    </div>
                </div>

                <div class="col-sm-3">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
                <div class="col-sm-9">
                </div>
            </div>
        </div>



    </div>
</form>

<div>
    <a asp-action="Salon">Listeye Geri dön</a>
</div>


