﻿@model SalonModel

@{
    ViewData["Title"] = "SalonDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Salon Detayı</h1>

<div>
    <h4>Salon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedSalon.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedSalon.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedSalon.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedSalon.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedSalon.Paragraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedSalon.Paragraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedSalon.IsEnable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedSalon.IsEnable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="SalonEdit" asp-route-id="@Model.SelectedSalon.Id">Düzenle</a> |
    <a asp-action="Salon">Listeye Geri dön</a>
</div>
