﻿@model SalonModel

@{
    ViewData["Title"] = "Salon Image";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Mekan Resimleri</h1>

<p>
    <a asp-action="SalonImageCreate">Yeni Oluştur</a>
</p>

<!-- Section: Live preview -->
<section>

    <ul class="nav nav-tabs" id="myTab" role="tablist">


        @{
            int count = 0;
            foreach (var item in Model.Salons.Where(s => s.IsEnable))
            {
                string selected = count == 0 ? "true" : "false";
                string active = count == 0 ? "active" : "";
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link @active" id="tab-@(item.Id)" href="#tab@(item.Id)" data-toggle="tab" aria-controls="h@(item.Id)" role="tab"  aria-selected="@selected">@item.Title</a>
                </li>
                count++;
            }
        }
    </ul>

    <div class="tab-content" id="myTabContent">
        @{ 
            int count1 = 0;
            @foreach (var item in Model.Salons.Where(s => s.IsEnable))
            {
                string active = count1 == 0 ? " active show" : "";
                   <div class="tab-pane fade @active" id="tab@(item.Id)" role="tabpanel" aria-labelledby="@(item.Id)-tab">

                    @*Image List*@
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Resim
                                </th>
                                <th>
                                    Durum
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subItem in Model.SalonImages.Where(s => s.SalonId == item.Id).ToList())
                            {
                                <tr>
                                    <td>
                                        <img src="~/img/@subItem.Image" width="60" />
                                    </td>
                                    <td>
                                        <b style="color:blue">@(subItem.IsEnable? "Aktif" : "Aktif Değil")</b>
                                    </td>
                                    <td>
                                        <a asp-action="SalonImageEdit" asp-route-id="@subItem.Id">Düzenle</a> |
                                        @*<a asp-action="SalonDetails" asp-route-id="@subItem.Id">Detay</a> |*@
                                        <a asp-action="SalonImageDelete" asp-route-id="@subItem.Id">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*Image List*@
                </div>
                count1++;
            }
         }
    </div>

</section>















