﻿@model SalonModel

@{
    ViewData["Title"] = "Salon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Salon</h1>

<p>
    <a asp-action="SalonCreate">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Simge
            </th>
            <th>
                Başlık
            </th>
            <th>
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <b style="color:blue">@(item.IsEnable? "Aktif" : "Aktif Değil")</b>
            </td>
            <td>
                <a asp-action="SalonEdit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="SalonDetails" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="SalonDelete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
