﻿@model SalonModel
@{
    ViewData["Title"] = "SalonImageCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Yeni Mekan Resimi Ekleme</h1>
<hr />

<form asp-action="SalonImageCreate" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Resim Ekleme İşlemi*@
            <div class="form-group">
                <label asp-for="@Model.SelectedSalonImage.Image" class="control-label">Resim:</label>
                <input type="hidden" asp-for="@Model.SelectedSalonImage.Image" value="@Model.SelectedSalonImage.Image" />
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="@Model.SelectedSalonImage.Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SelectedSalonImage.SalonId" class="control-label">Mekan:</label>
                @*<input asp-for="@Model.SelectedSalonImage.Alt" class="form-control" />*@
                <select asp-for="@Model.SelectedSalonImage.SalonId" class="form-control">
                    @foreach (var item in Model.Salons)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
                <span asp-validation-for="@Model.SelectedSalonImage.SalonId" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.SelectedSalonImage.IsEnable" />
                    Durum
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>


@*@section Scripts{

    <script type="text/javascript">

            $(document).ready(function(){
              // convert selects already on the page at dom load
              $('select.form-control').combobox();

              $('#it').click(function(e){
                $('ul.dropdown-menu').toggle();
              });

            //  $('input').focus(function(e){
            //    $('ul.dropdown-menu').toggle();
            //  });

            });

    </script>
}*@