﻿@model ServiceModel
@{
    ViewData["Title"] = "ServiceDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Hizmet Detayı</h1>

<div>
    <h4>Salon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedService.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedService.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedService.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedService.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedService.Paragraph)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedService.Paragraph)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedService.IsEnable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedService.IsEnable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ServiceEdit" asp-route-id="@Model.SelectedService.Id">Düzenle</a> |
    <a asp-action="Service">Listeye Geri dön</a>
</div>

