﻿@model ServiceModel

@{
    ViewData["Title"] = "ServiceCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Yeni Başlık oluştur "Hizmet" için</h1>
<hr />
<form asp-action="ServiceCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container">
        <div class="row">
            <div class="input-group mb-3">
                <div class="col-sm-2 col-form-label">
                    Başlık:
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="@Model.SelectedService.Title" value="@Model.SelectedService.Title" />
                    <span asp-validation-for="@Model.SelectedService.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="col-sm-2 col-form-label">
                    İkon:
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="@Model.SelectedService.Icon" value="@Model.SelectedService.Icon" />
                    <span asp-validation-for="@Model.SelectedService.Icon" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-5">
                <div class="col-sm-2 col-form-label">
                    Açıklama:
                </div>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="@Model.SelectedService.Paragraph" value="@Model.SelectedService.Paragraph"></textarea>
                    <span asp-validation-for="@Model.SelectedService.Paragraph" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="col-sm-2 col-form-label">
                    Durum:
                </div>
                <div class="col-sm-10 form-check fadeIn">
                    <input class="form-check-input" asp-for="@Model.SelectedService.IsEnable" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Service">Listeye Geri dön</a>
</div>


