﻿@model ServiceModel
@{
    ViewData["Title"] = "ServiceEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Hizmet Güncelleme</h1>

<hr />
<form asp-action="ServiceEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">


        <div class="container">
            <div class="row">
                <div class="input-group mb-3">
                    <div class="col-sm-2 col-form-label">
                        Başlık:
                    </div>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="@Model.SelectedService.Id" value="@Model.SelectedService.Id" />
                        <input type="text" class="form-control" asp-for="@Model.SelectedService.Title" value="@Model.SelectedService.Title" />
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="col-sm-2 col-form-label">
                        İkon:
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="@Model.SelectedService.Icon" value="@Model.SelectedService.Icon" />
                    </div>
                </div>

                <div class="input-group mb-5">
                    <div class="col-sm-2 col-form-label">
                        Açıklama:
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" asp-for="@Model.SelectedService.Paragraph" value="@Model.SelectedService.Paragraph"></textarea>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="col-sm-2 col-form-label">
                        Durum:
                    </div>
                    <div class="col-sm-10 form-check fadeIn">
                        @*<input type="checkbox" name="isEnable" value="@Model.SelectedAboutUs.IsEnable"  @(Model.SelectedAboutUs.IsEnable ? "Checked" : "" ) />*@
                        <input class="form-check-input" asp-for="@Model.SelectedService.IsEnable" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
                <div class="col-sm-9">
                </div>
            </div>
        </div>



    </div>
</form>

<div>
    <a asp-action="Service">Listeye Geri dön</a>
</div>




