﻿@model UserListModel
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>UserList</h1>

<div class="row">
    <div class="col-4"><b>Ad</b></div>
    <div class="col-4"><b>Email</b></div>
    <div class="col-4"></div>
</div>
@{
    int count = 0;
    @foreach (var item in Model.Users)
    {
        <div style="background-color:@(count%2==0?"burlywood":"white")" class="row">
            <div class="col-4">@item.FullName</div>
            <div class="col-4">@item.Email</div>
            <div class="col-4">
                @if (!Model.UserManager.IsInRoleAsync(item, "admin").Result)
                {
                 <a href="/admin/DeleteUser?id=@item.Id">Delete</a>
                }
            </div>
        </div>
        count++;
    }
}


