﻿@import url("https://fonts.googleapis.com/css?family=Hind:400,700");

html, body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #d9e2fd;*/
    width: 100%;
    height: 100%;
}

.imgMenu {
    max-width: 100%;
    height: auto;
    display: block;
}

h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
}

.carousel-wrapper1 {
    position: relative;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    background-image: linear-gradient(#FFFFFF 50%, #FFFFFF 50%, #F0F3FC 50%);
    box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}
    .carousel-wrapper1{
        top:300px !important;
    }
    @media screen and (max-width: 575px) {
        .carousel-wrapper1 {
            top: 200px !important;
        }
    }

    .carousel-wrapper1 .carousel1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
    }

        .carousel-wrapper1 .carousel1 .carousel-cell1 {
            padding: 10px;
            background-color: #FFFFFF;
            width: 20%;
            height: auto;
            min-width: 120px;
            margin: 0 20px;
            transition: transform 500ms ease;
        }

            .carousel-wrapper1 .carousel1 .carousel-cell1 .more {
                display: block;
                opacity: 0;
                margin: 5px 0 15px 0;
                text-align: center;
                font-size: 10px;
                color: #CFCFCF;
                text-decoration: none;
                transition: opacity 300ms ease;
            }

                .carousel-wrapper1 .carousel1 .carousel-cell1 .more:hover, .carousel-wrapper1 .carousel1 .carousel-cell1 .more:active, .carousel-wrapper1 .carousel1 .carousel-cell1 .more:visited, .carousel-wrapper1 .carousel1 .carousel-cell1 .more:focus {
                    color: #CFCFCF;
                    text-decoration: none;
                }

            .carousel-wrapper1 .carousel1 .carousel-cell1 .line {
                position: absolute;
                width: 2px;
                height: 0;
                background-color: black;
                left: 50%;
                margin: 5px 0 0 -1px;
                transition: height 300ms ease;
                display: block;
            }

            .carousel-wrapper1 .carousel1 .carousel-cell1 .price {
                position: absolute;
                font-weight: 700;
                margin: 45px auto 0 auto;
                left: 50%;
                transform: translate(-50%);
                opacity: 0;
                transition: opacity 300ms ease 300ms;
            }

                .carousel-wrapper1 .carousel1 .carousel-cell1 .price sup {
                    top: 2px;
                    position: absolute;
                }

            .carousel-wrapper1 .carousel1 .carousel-cell1.is-selected {
                transform: scale(1.2);
            }

                .carousel-wrapper1 .carousel1 .carousel-cell1.is-selected .line {
                    height: 35px;
                }

                .carousel-wrapper1 .carousel1 .carousel-cell1.is-selected .price, .carousel-wrapper1 .carousel1 .carousel-cell1.is-selected .more {
                    opacity: 1;
                }

    .carousel-wrapper1 .flickity-page-dots {
        display: none;
    }

    .carousel-wrapper1 .flickity-viewport, .carousel-wrapper1 .flickity-slider {
        overflow: visible;
    }
